DB_NAME=telemetria
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
USE_SQLITE=False
SECRET_KEY=sua-chave-secreta-aqui
DEBUG=True
MQTT_HOST=127.0.0.1
MQTT_PORT=1883
MQTT_KEEPALIVE=60
MQTT_TOPIC=dadosSensor
MQTT_CLIENT_ID=django-mqtt-worker
MQTT_USERNAME=
MQTT_PASSWORD=
